---
http_interactions:
- request:
    method: get
    uri: "<API-URL>/posts/3"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Reset:
      - '1671154611'
      Etag:
      - W/"11b-USacuIw5a/iXAGdNKBvqr/TbMTc"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 3,
          "title": "ea molestias quasi exercitationem repellat qui ipsa sit aut",
          "body": "et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut"
        }
  recorded_at: Fri, 16 Dec 2022 13:46:05 GMT
[...]
- request:
    method: get
    uri: "<API-URL>/posts/10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1670957921'
      Etag:
      - W/"d9-iWGkhNuCVU3QUpWXcSkr72qX524"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 10,
          "title": "optio molestias id quia eum",
          "body": "quo et expedita modi cum officia vel magni\ndoloribus qui repudiandae\nvero nisi sit\nquos veniam quod sed accusamus veritatis error"
        }
  recorded_at: Fri, 16 Dec 2022 13:46:42 GMT
recorded_with: VCR 6.0.0
